<style>
h4 {
	color : #025eaf;
}
</style>

<div class="row" style="
background: url('assets/header-bg.jpg');
background-position: bottom;
min-height: 250px;
z-index: 2;
padding-top: 100px;
">

<div class="row" style="padding-bottom: 50px; margin:0px;">
<div class="col-md-10 col-md-offset-1 text-center">
  <h1 style="font-weight: bold;color: #fff;">Order at Otbo5ly!</h1>
  <h2 style="color: #dedede;">1 more step to enjoy our delicious home-made food!</h2>
  <h2 style="color: #dedede;">Yalla!</h2>
</div></div>
</div>

<div class="row" ng-controller="NewOrderController" style="margin-top :50px;">

<div class="col-md-10 col-md-offset-1">

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Order Details</h3>
	  </div>
	  <div class="panel-body">
	  <div class="form-group">
	      <h4> Cooking ordered: </h4>
	  	<p style="font-size: 13pt">
		 <b>{{ order.cookName }}</b>     from      <b>{{ order.FullName }}</b>
		<p>
		<br>

	      <h4> Delivery Date: </h4>
		<div class="input-group">
			<p style="font-size: 13pt">
			 <b>{{ order.deliveryDate }}</b>
			<p>
		</div>
		<br>

	    <h4> Number of Meals: </h4>
	    <div class="input-group">
		  <input type="text" class="form-control" placeholder="Quantity" aria-describedby="basic-addon2" ng-model="order.quantity">
		  <span class="input-group-addon" id="basic-addon2" required>Meals</span>
		</div>
		<br>

	      <h4> Delivery Time: </h4>
		<div class="input-group">
		  <input type="text" class="form-control" placeholder="which hour ?" 
		  aria-describedby="basic-addon3" ng-model="order.deliveryTime" required>
		  <span class="input-group-addon" id="basic-addon3">ex : 4:00</span>
		</div>
		<br>
		<br>
		<button class="btn btn-lg btn-primary" ng-click="addOrder()">Submit order!</button>
	  </div>
	  </div>
	</div>

		
</div>
</div>
